@model Global_Solution.Application.Dtos.UsuarioDto

@{
    ViewData["Title"] = "Editar Usuário";
}

<h2>Editar Usuário</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="ID_USUARIO" />

    <div class="form-group">
        <label>Nome</label>
        <input asp-for="NOME_USUARIO" class="form-control" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input asp-for="EMAIL" class="form-control" type="email" />
    </div>
    <div class="form-group">
        <label>Telefone</label>
        <input asp-for="TELEFONE" class="form-control" />
    </div>
    <div class="form-group">
        <label>Tipo de Usuário</label>
        <select asp-for="TIPO_USUARIO" class="form-control">
            <option value="ADMIN">ADMIN</option>
            <option value="DEFESA_CIVIL">DEFESA_CIVIL</option>
            <option value="CIDADAO">CIDADAO</option>
        </select>
    </div>
    <div class="form-group">
        <label>Senha</label>
        <input asp-for="SENHA_HASH" class="form-control" type="password" />
    </div>

    <input type="submit" value="Salvar Alterações" class="btn btn-primary" />
</form>
