@model Global_Solution.Application.Dtos.LeituraSensorDto

@{
    ViewData["Title"] = "Editar Leitura";
}

<h2>Editar Leitura</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="ID_LEITURA" />

    <div class="form-group">
        <label>ID do Sensor</label>
        <input asp-for="ID_SENSOR" class="form-control" />
    </div>
    <div class="form-group">
        <label>Valor da Leitura</label>
        <input asp-for="VALOR_LEITURA" class="form-control" />
    </div>
    <div class="form-group">
        <label>Unidade de Medida</label>
        <input asp-for="UNIDADE_MEDIDA" class="form-control" />
    </div>
    <div class="form-group">
        <label>Data/Hora da Leitura</label>
        <input asp-for="TIMESTAMP_LEITURA" class="form-control" type="datetime-local" />
    </div>

    <input type="submit" value="Salvar Alterações" class="btn btn-primary" />
</form>
