@model Global_Solution.Application.Dtos.InscricaoAlertaDto

@{
    ViewData["Title"] = "Criar Inscrição";
}

<h2>Criar Nova Inscrição</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="ID_USUARIO"></label>
        <input asp-for="ID_USUARIO" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ID_AREA"></label>
        <input asp-for="ID_AREA" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TIMESTAMP_INSCRICAO"></label>
        <input asp-for="TIMESTAMP_INSCRICAO" type="datetime-local" class="form-control" />
    </div>

    <div class="form-check">
        <input asp-for="RECEBER_EMAIL" class="form-check-input" type="checkbox" />
        <label asp-for="RECEBER_EMAIL" class="form-check-label"></label>
    </div>
    <div class="form-check">
        <input asp-for="RECEBER_SMS" class="form-check-input" type="checkbox" />
        <label asp-for="RECEBER_SMS" class="form-check-label"></label>
    </div>
    <div class="form-check">
        <input asp-for="RECEBER_PUSH" class="form-check-input" type="checkbox" />
        <label asp-for="RECEBER_PUSH" class="form-check-label"></label>
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
</form>
