@model Global_Solution.Application.Dtos.SensorDto

@{
    ViewData["Title"] = "Criar Sensor";
}

<h2>Criar Novo Sensor</h2>

<form asp-action="Create">
    <div class="form-group">
        <label>ID Sensor</label>
        <input asp-for="ID_SENSOR" class="form-control" />
    </div>
    <div class="form-group">
        <label>ID Área</label>
        <input asp-for="ID_AREA" class="form-control" />
    </div>

    <div class="form-group">
        <label>Tipo</label>
        <select asp-for="TIPO_SENSOR" class="form-control">
            <option value="NIVEL_AGUA">NÍVEL DE ÁGUA</option>
            <option value="PLUVIOMETRO">PLUVIÔMETRO</option>
            <option value="FLUXO_AGUA">FLUXO DE ÁGUA</option>
        </select>
    </div>

    <div class="form-group">
        <label>Modelo</label>
        <input asp-for="MODELO" class="form-control" />
    </div>

    <div class="form-group">
        <label>Data de Instalação</label>
        <input asp-for="DATA_INSTALACAO" class="form-control" type="date" />
    </div>

    <div class="form-group">
        <label>Última Manutenção</label>
        <input asp-for="ULTIMA_MANUTENCAO" class="form-control" type="date" />
    </div>

    <div class="form-group">
        <label>Status</label>
        <select asp-for="STATUS_SENSOR" class="form-control">
            <option value="ATIVO">ATIVO</option>
            <option value="INATIVO">INATIVO</option>
            <option value="MANUTENCAO">MANUTENÇÃO</option>
        </select>
    </div>

    <input type="submit" value="Salvar" class="btn btn-success" />
</form>
