@model Global_Solution.Application.Dtos.AreaRiscoDto

@{
    ViewData["Title"] = "Excluir Área de Risco";
}

<h2>Confirmar Exclusão</h2>

<p>Você tem certeza que deseja excluir a área: <strong>@Model.NOME_AREA</strong>?</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ID_AREA" />
    <input type="submit" value="Confirmar Exclusão" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
